#ContactSection{
    font-family: 'Poppins', sans-serif;
    margin: 4rem auto;
    width: 70%;
}

.form-group input ,textarea{
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    color: white;
}
.form-group{
    margin-top: 2rem;
    font-size: 1.4rem;
}

@media (max-width:850px){

}